body{
background-color: aqua;
}

.flex-container {
    position: relative;
    top: 500px;
    display: flex;
    background-color: blueviolet;
    
  }
  
  .flex-container > div { 
    background-color: #f1f1f1;
    margin: 15px;
    padding: 30px;
    align-content: space-around;
    width: 30px;
  }
